nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  align-self: center;
  z-index: 999;
  a{
    text-decoration: none;
  }
}
.color_div {
  background-color: #f0edf6;
  height: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.link_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 5px;
  a {
    padding: 10px 20px 0 20px;
    font-weight: 500;
}
}
.nav_div {
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 350px;
  width: 100%;
}
.homeIcon {
    border-top: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    &:hover{
        border-color: #9730F9;
    }
    svg {
        width: 30px;
        height: 30px;
        color: #a2a2a4;
    }
    p {
        color: #a2a2a4;
    }
}
.usersIcon {
    border-top: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    &:hover{
        border-color: #9730F9;
    }
    svg {
        width: 30px;
        height: 30px;
        color: #a2a2a4;
  }
  p {
      color: #a2a2a4;
    }
}
.productsIcon {
    border-top: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    &:hover{
        border-color: #9730F9;
    }
    svg {
        width: 30px;
        height: 30px;
        color: #a2a2a4;
    }
    p {
        color: #a2a2a4;
    }
}
.active{
    border-color: #9730F9;
    svg {
        width: 30px;
        height: 30px;
        color: #9730F9;
      }
      p {
        color: #9730F9;
      }
}